<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars News Today</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron bg_dark text_white jumbotron-fluid">
       <h1>Mars News Today</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Collect Mars News</a></p>
    </div>

    <!-- row 1 : panel with news -->
          <div class="row">
              <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                     <h3>Latest Mars News</h3>
                     <hr>
                     <h5>{{listings.news_title}}</h5>
                     <p>{{listings.news_p}}</p>
                     <p><a href="https://mars.nasa.gov/news/" class="btn btn-primary">More from NASA</a>

                  </div>
                  </div>



          </div>


          </div>


<div class="row text-center">
  <div class="col-lg-4 col-md-4 mb-4">
       <div class="card text-white bg-dark " >
           <div class="card-body">
            <h4 class="card-title">Quick Mars Facts</h4>
            <table class="table table-hover">{{listings.fact_table | safe}}</table>

          </div>
          <div class="card-footer">
           </div>
        </div>
      </div>

         <div class="col-lg-4 col-md-4 mb-4">
	          <div class="card h-100">
	            <img class="card-img-top" src="{{listings.featured_image_url}}" width="300" height="350" alt="Image Captured from the Jet Propulsion Lab">
	            <div class="card-body">
	              <h4 class="card-title">Featured Image</h4>
	              <p class="card-text">Courtesy of the Jet Propulsion Lab</p>
	            </div>
	            <div class="card-footer">
	              <a href="https://www.jpl.nasa.gov/missions/mars-science-laboratory-curiosity-rover-msl/" class="btn btn-primary">Visit the JPL Site</a>
	            </div>
	          </div>
      </div>

      <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://pbs.twimg.com/profile_images/2552209293/220px-Mars_atmosphere_400x400.jpg" alt="Mars Weather Twitter profile pic">

          <div class="card-body"> <div style="border:5px solid black;">
            <h4 class="card-title">Latest Tweet from @MarsWxReporter</h4>
             <p class="card-text"> </p>
                          <p class="card-text"> </p>

            <p class="card-text">{{listings.mars_weather}}</p>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>

 </div>
    <!-- /.row -->


 <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <h3 style="text-align: center">Mars Hemispheres</h3>
                            <hr>
                        </div>
                       <div class="row">

                               <div class="col-lg-3 col-md-3 mb-3">
                                   <a href="{{listings['hemisphere_images'][0]['img_url']}}" >
                                      <img src="{{listings['hemisphere_images'][0]['img_url']}}" width="250" height="250" alt=""> <-->
                                      <h4 style="text-align: center">{{listings.hemisphere_images[0].title}}</h4>
                                   </a>
                               </div>

                           <div class="col-lg-3 col-md-3 mb-3">
                                  <a href="{{listings['hemisphere_images'][1]['img_url']}}" class="thumbnail">
                                        <img src="{{listings['hemisphere_images'][1]['img_url']}}" alt=" Photo of Mars Hemisphere">
                                        <h4 style="text-align: center">{{listings.hemisphere_images[1].title}}</h4>
                                     </a>
                                </div>

                                 <div class="col-lg-3 col-md-3 mb-3">
					                 <a href="{{listings['hemisphere_images'][2]['img_url']}}"  class="thumbnail">
					                  <img src="{{listings['hemisphere_images'][2]['img_url']}}" alt="Photo of Mars Hemisphere"> <-->
					          <h4 style="text-align: center">{{listings.hemisphere_images[2].title}}</h4>
					               </a> </div>

					<div class="col-lg-3 col-md-3 mb-3">
					   <a href="{{listings['hemisphere_images'][3]['img_url']}}" class="thumbnail">
					      <img src="{{listings['hemisphere_images'][3]['img_url']}}" alt=" Photo of Mars Hemisphere">
					      <h4 style="text-align: center">{{listings.hemisphere_images[3].title}}</h4> </a>
					                                   </div>
					                          </div>
                       <div class="row">
                    </div>
                </div>
</div>
    </div>

  </div>
</body>

</html>

